body {
  position: fixed;
  width: 100%;
  margin: 0;
  font-family: 'iosevka ss05', Menlo, 'Andale Mono', monospace;
}
#app {
  height: 100vh;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}
.board-container {
  width: 90vw;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .board-container {
    padding: 1em 0;
  }
}
.board {
  position: relative;
  display: grid;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #222;
}
@media (min-width: 480px) {
  .board {
    max-width: 80%;
  }
}
@media (min-width: 768px) {
  .board {
    max-width: 70%;
  }
}
@media (min-width: 768px) {
  .board {
    max-width: 62vh;
  }
}
.square {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}
.square.black {
  border: 1px solid transparent;
}
.square.flag {
  position: relative;
  border: 1px solid #3b3b3b;
  overflow: hidden;
}
.square.flag:before,
.square.flag:after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 100vh solid transparent;
  border-right: 100vh solid transparent;
}
.square.flag:before {
  left: 0;
  border-top: 100vh solid #666;
}
.square.flag:after {
  left: 1px;
  border-top: 100vh solid #222;
}
.square.entry {
  border: 0.5px solid #ddd;
}
.black {
  background: #222;
}
.flag {
  background: #222;
  color: white;
}
input.flag {
  position: absolute;
  width: 20px;
  font-size: 14px;
  z-index: 1;
  background: transparent;
  color: white;
  border: 0;
  border-radius: 0;
  /* padding: 4px; */
  text-align: center;
}
@media (min-width: 768px) {
  .flag {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .flag {
    font-size: 18px;
  }
}
.flag.down {
  bottom: 0;
  left: 10%;
  transform: translateX(-10%);
}
.flag.right {
  right: 0;
  top: 10%;
  transform: translateY(-10%);
  text-align: right;
}
@media (min-width: 1200px) {
  .flag.down {
    bottom: 6px;
  }
  .flag.right {
    right: 10px;
  }
}
.flag.right.hide-down,
.flag.right.hide-right {
  opacity: 0;
}
.flag.right.hide-down:focus .flag.right.hide-right:focus {
  opacity: 1;
}
.flag.right.exclude-down,
.flag.right.exclude-right {
  display: none;
}
.piece-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button-container {
  text-align: center;
  padding: 4vh 0 10vh;
}
@media (min-width: 768px) {
  .button-container {
    padding: 2vh 0 8vh;
  }
}
.button-indicator {
  position: relative;
  display: inline-block;
}
.button-indicator:before {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 10px;
  width: 100%;
}
.button-indicator.is-requesting:before {
  background: #ccc;
}
.button-indicator.is-timeout:before {
  background: #ffbad1;
}
.button-indicator.is-no-solution:before {
  background: #ff8c94;
}
.button-indicator.is-success:before {
  background: #b1e597;
}
.button-indicator.is-requesting button,
.button-indicator.is-timeout button,
.button-indicator.is-no-solution button,
.button-indicator.is-success button {
  top: 0px !important;
}
.button-indicator.is-requesting button {
  background: #333;
  cursor: progress;
}
.button-indicator.is-timeout button,
.button-indicator.is-no-solution button {
  background: #555;
  cursor: not-allowed;
}
.button-indicator.is-success button {
  background: #555;
  cursor: default;
}
button {
  position: relative;
  padding: 1.4em 4.6em;
  font-family: monospace;
  font-weight: bold;
  color: white;
  background: #222;
  box-shadow: 0;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
}
button:hover {
  top: -1px;
}
button:active {
  top: 0px;
}
